n8n-workflow.json
{
  "name": "Bolão Copa 2026 - Atualizar Resultados",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 30 }]
        }
      },
      "id": "node-schedule",
      "name": "A cada 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://widget.api-futebol.com.br/render/widget_e2ceca57fb8306a3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36" },
            { "name": "Referer", "value": "https://widget.api-futebol.com.br/render/widget_e2ceca57fb8306a3" },
            { "name": "Accept", "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8" },
            { "name": "Accept-Language", "value": "pt-BR,pt;q=0.9" }
          ]
        },
        "options": {}
      },
      "id": "node-widget",
      "name": "Buscar Widget",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Recebe o HTML do widget e tenta extrair os placares\nconst html = $input.first().json.data || $input.first().json.body || String($input.first().json) || '';\n\nconst MATCHES = [\n  {id:1,home:'MEX',away:'RSA',dt:'2026-06-11T19:00:00Z'},\n  {id:2,home:'KOR',away:'CZE',dt:'2026-06-12T02:00:00Z'},\n  {id:3,home:'CAN',away:'BIH',dt:'2026-06-12T19:00:00Z'},\n  {id:4,home:'USA',away:'PAR',dt:'2026-06-13T01:00:00Z'},\n  {id:5,home:'QAT',away:'SUI',dt:'2026-06-13T19:00:00Z'},\n  {id:6,home:'BRA',away:'MAR',dt:'2026-06-13T22:00:00Z'},\n  {id:7,home:'HAI',away:'SCO',dt:'2026-06-14T01:00:00Z'},\n  {id:8,home:'AUS',away:'TUR',dt:'2026-06-14T04:00:00Z'},\n  {id:9,home:'GER',away:'CUW',dt:'2026-06-14T17:00:00Z'},\n  {id:10,home:'CIV',away:'ECU',dt:'2026-06-14T23:00:00Z'},\n  {id:11,home:'NED',away:'JPN',dt:'2026-06-15T20:00:00Z'},\n  {id:12,home:'SWE',away:'TUN',dt:'2026-06-15T02:00:00Z'},\n  {id:13,home:'ESP',away:'CPV',dt:'2026-06-15T17:00:00Z'},\n  {id:14,home:'BEL',away:'EGY',dt:'2026-06-15T22:00:00Z'},\n  {id:15,home:'KSA',away:'URU',dt:'2026-06-15T22:00:00Z'},\n  {id:16,home:'IRN',away:'NZL',dt:'2026-06-16T04:00:00Z'},\n  {id:17,home:'FRA',away:'SEN',dt:'2026-06-16T19:00:00Z'},\n  {id:18,home:'IRQ',away:'NOR',dt:'2026-06-16T22:00:00Z'},\n  {id:19,home:'ARG',away:'ALG',dt:'2026-06-17T01:00:00Z'},\n  {id:20,home:'AUT',away:'JOR',dt:'2026-06-17T04:00:00Z'},\n  {id:21,home:'POR',away:'COD',dt:'2026-06-17T17:00:00Z'},\n  {id:22,home:'ENG',away:'CRO',dt:'2026-06-17T20:00:00Z'},\n  {id:23,home:'GHA',away:'PAN',dt:'2026-06-17T23:00:00Z'},\n  {id:24,home:'UZB',away:'COL',dt:'2026-06-18T02:00:00Z'},\n  {id:25,home:'CZE',away:'RSA',dt:'2026-06-18T16:00:00Z'},\n  {id:26,home:'SUI',away:'BIH',dt:'2026-06-18T19:00:00Z'},\n  {id:27,home:'CAN',away:'QAT',dt:'2026-06-18T22:00:00Z'},\n  {id:28,home:'MEX',away:'KOR',dt:'2026-06-19T01:00:00Z'},\n  {id:29,home:'USA',away:'AUS',dt:'2026-06-19T19:00:00Z'},\n  {id:30,home:'SCO',away:'MAR',dt:'2026-06-19T22:00:00Z'},\n  {id:31,home:'BRA',away:'HAI',dt:'2026-06-20T01:00:00Z'},\n  {id:32,home:'TUR',away:'PAR',dt:'2026-06-20T04:00:00Z'},\n  {id:33,home:'NED',away:'SWE',dt:'2026-06-20T17:00:00Z'},\n  {id:34,home:'GER',away:'CIV',dt:'2026-06-20T20:00:00Z'},\n  {id:35,home:'ECU',away:'CUW',dt:'2026-06-21T00:00:00Z'},\n  {id:36,home:'TUN',away:'JPN',dt:'2026-06-21T04:00:00Z'},\n  {id:37,home:'ESP',away:'KSA',dt:'2026-06-21T16:00:00Z'},\n  {id:38,home:'BEL',away:'IRN',dt:'2026-06-21T19:00:00Z'},\n  {id:39,home:'URU',away:'CPV',dt:'2026-06-21T22:00:00Z'},\n  {id:40,home:'NZL',away:'EGY',dt:'2026-06-22T01:00:00Z'},\n  {id:41,home:'ARG',away:'AUT',dt:'2026-06-22T17:00:00Z'},\n  {id:42,home:'FRA',away:'IRQ',dt:'2026-06-22T21:00:00Z'},\n  {id:43,home:'NOR',away:'SEN',dt:'2026-06-23T00:00:00Z'},\n  {id:44,home:'JOR',away:'ALG',dt:'2026-06-23T03:00:00Z'},\n  {id:45,home:'POR',away:'UZB',dt:'2026-06-23T17:00:00Z'},\n  {id:46,home:'ENG',away:'GHA',dt:'2026-06-23T20:00:00Z'},\n  {id:47,home:'PAN',away:'CRO',dt:'2026-06-23T23:00:00Z'},\n  {id:48,home:'COL',away:'COD',dt:'2026-06-24T02:00:00Z'},\n  {id:49,home:'MEX',away:'CZE',dt:'2026-06-24T16:00:00Z'},\n  {id:50,home:'RSA',away:'KOR',dt:'2026-06-24T16:00:00Z'},\n  {id:51,home:'SUI',away:'CAN',dt:'2026-06-24T19:00:00Z'},\n  {id:52,home:'BIH',away:'QAT',dt:'2026-06-24T19:00:00Z'},\n  {id:53,home:'SCO',away:'BRA',dt:'2026-06-24T22:00:00Z'},\n  {id:54,home:'MAR',away:'HAI',dt:'2026-06-24T22:00:00Z'},\n  {id:55,home:'TUR',away:'USA',dt:'2026-06-25T20:00:00Z'},\n  {id:56,home:'PAR',away:'AUS',dt:'2026-06-25T20:00:00Z'},\n  {id:57,home:'ECU',away:'GER',dt:'2026-06-25T20:00:00Z'},\n  {id:58,home:'CUW',away:'CIV',dt:'2026-06-25T20:00:00Z'},\n  {id:59,home:'JPN',away:'SWE',dt:'2026-06-25T23:00:00Z'},\n  {id:60,home:'TUN',away:'NED',dt:'2026-06-25T23:00:00Z'},\n  {id:61,home:'NOR',away:'FRA',dt:'2026-06-26T19:00:00Z'},\n  {id:62,home:'SEN',away:'IRQ',dt:'2026-06-26T19:00:00Z'},\n  {id:63,home:'CPV',away:'KSA',dt:'2026-06-27T00:00:00Z'},\n  {id:64,home:'URU',away:'ESP',dt:'2026-06-27T00:00:00Z'},\n  {id:65,home:'EGY',away:'IRN',dt:'2026-06-27T03:00:00Z'},\n  {id:66,home:'NZL',away:'BEL',dt:'2026-06-27T03:00:00Z'},\n  {id:67,home:'PAN',away:'ENG',dt:'2026-06-27T21:00:00Z'},\n  {id:68,home:'CRO',away:'GHA',dt:'2026-06-27T21:00:00Z'},\n  {id:69,home:'COL',away:'POR',dt:'2026-06-27T23:30:00Z'},\n  {id:70,home:'COD',away:'UZB',dt:'2026-06-27T23:30:00Z'},\n  {id:71,home:'JOR',away:'ARG',dt:'2026-06-28T02:00:00Z'},\n  {id:72,home:'ALG',away:'AUT',dt:'2026-06-28T02:00:00Z'}\n];\n\n// Mapeamento nome do time (PT/EN) → código nosso\nconst NAME_MAP = {\n  'mexico':'MEX','méxico':'MEX','south africa':'RSA','africa do sul':'RSA','áfrica do sul':'RSA',\n  'south korea':'KOR','coreia do sul':'KOR','korea republic':'KOR','czech republic':'CZE','tchéquia':'CZE','czechia':'CZE',\n  'canada':'CAN','canadá':'CAN','bosnia':'BIH','bósnia':'BIH','bosnia and herzegovina':'BIH',\n  'qatar':'QAT','switzerland':'SUI','suíça':'SUI','brazil':'BRA','brasil':'BRA',\n  'morocco':'MAR','marrocos':'MAR','haiti':'HAI','scotland':'SCO','escócia':'SCO',\n  'usa':'USA','united states':'USA','estados unidos':'USA','paraguay':'PAR','paraguai':'PAR',\n  'australia':'AUS','turkey':'TUR','turquia':'TUR','germany':'GER','alemanha':'GER',\n  'curacao':'CUW','curaçao':'CUW','ivory coast':'CIV','costa do marfim':'CIV',\n  'ecuador':'ECU','equador':'ECU','netherlands':'NED','holanda':'NED','japan':'JPN','japão':'JPN',\n  'sweden':'SWE','suécia':'SWE','tunisia':'TUN','tunísia':'TUN','spain':'ESP','espanha':'ESP',\n  'cape verde':'CPV','cabo verde':'CPV','saudi arabia':'KSA','arábia saudita':'KSA',\n  'uruguay':'URU','uruguai':'URU','belgium':'BEL','bélgica':'BEL','egypt':'EGY','egito':'EGY',\n  'iran':'IRN','new zealand':'NZL','nova zelândia':'NZL','france':'FRA','frança':'FRA',\n  'senegal':'SEN','iraq':'IRQ','iraque':'IRQ','norway':'NOR','noruega':'NOR',\n  'argentina':'ARG','algeria':'ALG','argélia':'ALG','austria':'AUT','áustria':'AUT',\n  'jordan':'JOR','jordânia':'JOR','portugal':'POR','dr congo':'COD','congo':'COD',\n  'england':'ENG','inglaterra':'ENG','croatia':'CRO','croácia':'CRO','ghana':'GHA','gana':'GHA',\n  'panama':'PAN','panamá':'PAN','uzbekistan':'UZB','uzbequistão':'UZB','colombia':'COL','colômbia':'COL'\n};\n\nfunction toCode(name) {\n  return NAME_MAP[name.toLowerCase().trim()] || null;\n}\n\nconst toUpdate = [];\n\n// Tenta 1: JSON embutido no HTML (<script> com dados)\nconst jsonMatches = [];\nconst scriptMatches = html.matchAll(/\\{[^{}]*\"(placar|score|gols|gol|home_score|away_score|mandante|visitante)[^{}]*\\}/gi);\nfor (const m of scriptMatches) {\n  try { jsonMatches.push(JSON.parse(m[0])); } catch {}\n}\n\n// Tenta 2: regex para padrão placar no HTML \"TIME 2 x 1 TIME\" ou \"2-1\"\n// Padrão: nome_time NUMERO x NUMERO nome_time\nconst scorePattern = /([A-Za-zÀ-ÿ\\s]+?)\\s+(\\d+)\\s*[x×\\-]\\s*(\\d+)\\s+([A-Za-zÀ-ÿ\\s]+)/gi;\nlet match;\nwhile ((match = scorePattern.exec(html)) !== null) {\n  const homeCode = toCode(match[1].trim());\n  const awayCode = toCode(match[4].trim());\n  const homeScore = parseInt(match[2]);\n  const awayScore = parseInt(match[3]);\n  if (!homeCode || !awayCode || isNaN(homeScore) || isNaN(awayScore)) continue;\n  const local = MATCHES.find(m => m.home === homeCode && m.away === awayCode);\n  if (!local) continue;\n  const already = toUpdate.find(u => u.match_id === local.id);\n  if (!already) toUpdate.push({ match_id: local.id, home_score: homeScore, away_score: awayScore });\n}\n\n// Log para debug (visível no N8N)\nconsole.log('HTML recebido (primeiros 2000 chars):', html.substring(0, 2000));\nconsole.log('Jogos encontrados para atualizar:', JSON.stringify(toUpdate));\n\nif (toUpdate.length === 0) {\n  // Retorna o HTML cru para debug caso não encontre nada\n  return [{ json: { debug: true, html_preview: html.substring(0, 3000), found: 0 } }];\n}\n\nreturn toUpdate.map(item => ({ json: item }));"
      },
      "id": "node-code",
      "name": "Parsear HTML e Extrair Placares",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.debug }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if",
      "name": "Tem jogos para atualizar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zmxwhjmgsyzcuovepqss.supabase.co/rest/v1/matches?id=eq.{{ $json.match_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMjk5NzMsImV4cCI6MjA5NjcwNTk3M30.429hD8d6_uksGL125V9XVvec7ySPtc3RqWxhEcWL4po" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMjk5NzMsImV4cCI6MjA5NjcwNTk3M30.429hD8d6_uksGL125V9XVvec7ySPtc3RqWxhEcWL4po" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"home_score\": {{ $json.home_score }},\n  \"away_score\": {{ $json.away_score }},\n  \"status\": \"finished\"\n}",
        "options": {}
      },
      "id": "node-patch",
      "name": "Atualizar Placar no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zmxwhjmgsyzcuovepqss.supabase.co/rest/v1/rpc/calculate_points_for_match",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMjk5NzMsImV4cCI6MjA5NjcwNTk3M30.429hD8d6_uksGL125V9XVvec7ySPtc3RqWxhEcWL4po" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMjk5NzMsImV4cCI6MjA5NjcwNTk3M30.429hD8d6_uksGL125V9XVvec7ySPtc3RqWxhEcWL4po" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"p_match_id\": {{ $json.match_id }},\n  \"p_home_score\": {{ $json.home_score }},\n  \"p_away_score\": {{ $json.away_score }}\n}",
        "options": {}
      },
      "id": "node-rpc",
      "name": "Calcular Pontos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 220]
    }
  ],
  "connections": {
    "A cada 30 min": {
      "main": [[{ "node": "Buscar Widget", "type": "main", "index": 0 }]]
    },
    "Buscar Widget": {
      "main": [[{ "node": "Parsear HTML e Extrair Placares", "type": "main", "index": 0 }]]
    },
    "Parsear HTML e Extrair Placares": {
      "main": [[{ "node": "Tem jogos para atualizar?", "type": "main", "index": 0 }]]
    },
    "Tem jogos para atualizar?": {
      "main": [
        [{ "node": "Atualizar Placar no Supabase", "type": "main", "index": 0 }],
        []
      ]
    },
    "Atualizar Placar no Supabase": {
      "main": [[{ "node": "Calcular Pontos", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-11T00:00:00.000Z",
  "versionId": "2"
}
