n8n-workflow.json
{
  "name": "Bolão Copa 2026 - Atualizar Resultados",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "A cada 1 hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.football-data.org/v4/competitions/WC/matches?status=FINISHED",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "c244ba0a0bab4125a1ebfb59d247c219"
            },
            {
              "name": "X-Unfold-Goals",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "node-api",
      "name": "Buscar Resultados (football-data)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const MAP = {\n  'MEX':'MEX','RSA':'RSA','KOR':'KOR','CZE':'CZE','CAN':'CAN',\n  'BIH':'BIH','QAT':'QAT','SUI':'SUI','BRA':'BRA','MAR':'MAR',\n  'HAI':'HAI','SCO':'SCO','USA':'USA','PAR':'PAR','AUS':'AUS',\n  'TUR':'TUR','GER':'GER','CUW':'CUW','CIV':'CIV','ECU':'ECU',\n  'NED':'NED','JPN':'JPN','SWE':'SWE','TUN':'TUN','ESP':'ESP',\n  'CPV':'CPV','SAU':'KSA','URU':'URU','BEL':'BEL','EGY':'EGY',\n  'IRN':'IRN','NZL':'NZL','FRA':'FRA','SEN':'SEN','IRQ':'IRQ',\n  'NOR':'NOR','ARG':'ARG','ALG':'ALG','AUT':'AUT','JOR':'JOR',\n  'POR':'POR','COD':'COD','ENG':'ENG','CRO':'CRO','GHA':'GHA',\n  'PAN':'PAN','UZB':'UZB','COL':'COL','KSA':'KSA','DZA':'ALG'\n};\n\nconst MATCHES = [\n  {id:1,home:'MEX',away:'RSA'},{id:2,home:'KOR',away:'CZE'},{id:3,home:'CAN',away:'BIH'},\n  {id:4,home:'USA',away:'PAR'},{id:5,home:'QAT',away:'SUI'},{id:6,home:'BRA',away:'MAR'},\n  {id:7,home:'HAI',away:'SCO'},{id:8,home:'AUS',away:'TUR'},{id:9,home:'GER',away:'CUW'},\n  {id:10,home:'CIV',away:'ECU'},{id:11,home:'NED',away:'JPN'},{id:12,home:'SWE',away:'TUN'},\n  {id:13,home:'ESP',away:'CPV'},{id:14,home:'BEL',away:'EGY'},{id:15,home:'KSA',away:'URU'},\n  {id:16,home:'IRN',away:'NZL'},{id:17,home:'FRA',away:'SEN'},{id:18,home:'IRQ',away:'NOR'},\n  {id:19,home:'ARG',away:'ALG'},{id:20,home:'AUT',away:'JOR'},{id:21,home:'POR',away:'COD'},\n  {id:22,home:'ENG',away:'CRO'},{id:23,home:'GHA',away:'PAN'},{id:24,home:'UZB',away:'COL'},\n  {id:25,home:'CZE',away:'RSA'},{id:26,home:'SUI',away:'BIH'},{id:27,home:'CAN',away:'QAT'},\n  {id:28,home:'MEX',away:'KOR'},{id:29,home:'USA',away:'AUS'},{id:30,home:'SCO',away:'MAR'},\n  {id:31,home:'BRA',away:'HAI'},{id:32,home:'TUR',away:'PAR'},{id:33,home:'NED',away:'SWE'},\n  {id:34,home:'GER',away:'CIV'},{id:35,home:'ECU',away:'CUW'},{id:36,home:'TUN',away:'JPN'},\n  {id:37,home:'ESP',away:'KSA'},{id:38,home:'BEL',away:'IRN'},{id:39,home:'URU',away:'CPV'},\n  {id:40,home:'NZL',away:'EGY'},{id:41,home:'ARG',away:'AUT'},{id:42,home:'FRA',away:'IRQ'},\n  {id:43,home:'NOR',away:'SEN'},{id:44,home:'JOR',away:'ALG'},{id:45,home:'POR',away:'UZB'},\n  {id:46,home:'ENG',away:'GHA'},{id:47,home:'PAN',away:'CRO'},{id:48,home:'COL',away:'COD'},\n  {id:49,home:'MEX',away:'CZE'},{id:50,home:'RSA',away:'KOR'},{id:51,home:'SUI',away:'CAN'},\n  {id:52,home:'BIH',away:'QAT'},{id:53,home:'SCO',away:'BRA'},{id:54,home:'MAR',away:'HAI'},\n  {id:55,home:'TUR',away:'USA'},{id:56,home:'PAR',away:'AUS'},{id:57,home:'ECU',away:'GER'},\n  {id:58,home:'CUW',away:'CIV'},{id:59,home:'JPN',away:'SWE'},{id:60,home:'TUN',away:'NED'},\n  {id:61,home:'NOR',away:'FRA'},{id:62,home:'SEN',away:'IRQ'},{id:63,home:'CPV',away:'KSA'},\n  {id:64,home:'URU',away:'ESP'},{id:65,home:'EGY',away:'IRN'},{id:66,home:'NZL',away:'BEL'},\n  {id:67,home:'PAN',away:'ENG'},{id:68,home:'CRO',away:'GHA'},{id:69,home:'COL',away:'POR'},\n  {id:70,home:'COD',away:'UZB'},{id:71,home:'JOR',away:'ARG'},{id:72,home:'ALG',away:'AUT'},\n  {id:73,home:'RSA',away:'CAN'},{id:74,home:'BRA',away:'JPN'},\n  {id:75,home:'GER',away:'PAR'},{id:76,home:'NED',away:'MAR'},\n  {id:77,home:'CIV',away:'NOR'},{id:78,home:'FRA',away:'SWE'},\n  {id:79,home:'MEX',away:'ECU'},{id:80,home:'ENG',away:'COD'},\n  {id:81,home:'BEL',away:'SEN'},{id:82,home:'USA',away:'BIH'},\n  {id:83,home:'ESP',away:'AUT'},{id:84,home:'POR',away:'CRO'},\n  {id:85,home:'SUI',away:'ALG'},{id:86,home:'AUS',away:'EGY'},\n  {id:87,home:'ARG',away:'CPV'},{id:88,home:'COL',away:'GHA'}\n];\n\nconst apiMatches = $input.first().json.matches || [];\nconst toUpdate = [];\n\nfor (const apiM of apiMatches) {\n  if (apiM.status !== 'FINISHED') continue;\n  const score = apiM.score?.fullTime;\n  if (score?.home == null || score?.away == null) continue;\n\n  const apiHome = MAP[apiM.homeTeam?.tla] || apiM.homeTeam?.tla;\n  const apiAway = MAP[apiM.awayTeam?.tla] || apiM.awayTeam?.tla;\n\n  const local = MATCHES.find(m => m.home === apiHome && m.away === apiAway);\n  if (!local) continue;\n\n  toUpdate.push({ match_id: local.id, home_score: score.home, away_score: score.away });\n}\n\nconsole.log('Jogos finalizados encontrados:', toUpdate.length);\nreturn toUpdate.length > 0 ? toUpdate.map(item => ({ json: item })) : [{ json: { match_id: 0 } }];"
      },
      "id": "node-code",
      "name": "Mapear e Filtrar Jogos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.match_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if",
      "name": "Tem jogos para atualizar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zmxwhjmgsyzcuovepqss.supabase.co/rest/v1/matches?id=eq.{{ $json.match_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMjk5NzMsImV4cCI6MjA5NjcwNTk3M30.429hD8d6_uksGL125V9XVvec7ySPtc3RqWxhEcWL4po"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMjk5NzMsImV4cCI6MjA5NjcwNTk3M30.429hD8d6_uksGL125V9XVvec7ySPtc3RqWxhEcWL4po"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ home_score: $json.home_score, away_score: $json.away_score, status: 'finished' }) }}",
        "options": {}
      },
      "id": "node-update-score",
      "name": "Atualizar Placar no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zmxwhjmgsyzcuovepqss.supabase.co/rest/v1/rpc/calculate_points_for_match",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTEyOTk3MywiZXhwIjoyMDk2NzA1OTczfQ.Fue2GImIyNW7VmUPiyroOLVAurAWrpnDOx28mp5_Pko"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTEyOTk3MywiZXhwIjoyMDk2NzA1OTczfQ.Fue2GImIyNW7VmUPiyroOLVAurAWrpnDOx28mp5_Pko"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_match_id: $json.match_id, p_home_score: $json.home_score, p_away_score: $json.away_score }) }}",
        "options": {}
      },
      "id": "node-rpc-points",
      "name": "Calcular Pontos (RPC)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zmxwhjmgsyzcuovepqss.supabase.co/rest/v1/rpc/refresh_profile_totals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTEyOTk3MywiZXhwIjoyMDk2NzA1OTczfQ.Fue2GImIyNW7VmUPiyroOLVAurAWrpnDOx28mp5_Pko"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTEyOTk3MywiZXhwIjoyMDk2NzA1OTczfQ.Fue2GImIyNW7VmUPiyroOLVAurAWrpnDOx28mp5_Pko"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "node-rpc-totals",
      "name": "Atualizar Totais",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        220
      ]
    }
  ],
  "connections": {
    "A cada 1 hora": {
      "main": [
        [
          {
            "node": "Buscar Resultados (football-data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Resultados (football-data)": {
      "main": [
        [
          {
            "node": "Mapear e Filtrar Jogos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear e Filtrar Jogos": {
      "main": [
        [
          {
            "node": "Tem jogos para atualizar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem jogos para atualizar?": {
      "main": [
        [
          {
            "node": "Atualizar Placar no Supabase",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Atualizar Placar no Supabase": {
      "main": [
        [
          {
            "node": "Calcular Pontos (RPC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Pontos (RPC)": {
      "main": [
        [
          {
            "node": "Atualizar Totais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-25T00:00:00.000Z",
  "versionId": "7"
}