n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 1 }]
        }
      },
      "id": "7f797a07-ed49-40ee-b619-2203009ddb57",
      "name": "A cada 1 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [1904, 3680]
    },
    {
      "parameters": {
        "url": "https://api.football-data.org/v4/competitions/WC/matches?status=FINISHED",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Auth-Token", "value": "c244ba0a0bab4125a1ebfb59d247c219" },
            { "name": "X-Unfold-Goals", "value": "true" }
          ]
        },
        "options": {}
      },
      "id": "cd9fa3db-3913-4dea-a4c8-e1ea1b5c9f27",
      "name": "Buscar Resultados (football-data)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2176, 3680]
    },
    {
      "parameters": {
        "jsCode": "const MAP = {\n  'MEX':'MEX','RSA':'RSA','KOR':'KOR','CZE':'CZE','CAN':'CAN',\n  'BIH':'BIH','QAT':'QAT','SUI':'SUI','BRA':'BRA','MAR':'MAR',\n  'HAI':'HAI','SCO':'SCO','USA':'USA','PAR':'PAR','AUS':'AUS',\n  'TUR':'TUR','GER':'GER','CUW':'CUW','CIV':'CIV','ECU':'ECU',\n  'NED':'NED','JPN':'JPN','SWE':'SWE','TUN':'TUN','ESP':'ESP',\n  'CPV':'CPV','SAU':'KSA','URU':'URU','BEL':'BEL','EGY':'EGY',\n  'IRN':'IRN','NZL':'NZL','FRA':'FRA','SEN':'SEN','IRQ':'IRQ',\n  'NOR':'NOR','ARG':'ARG','ALG':'ALG','AUT':'AUT','JOR':'JOR',\n  'POR':'POR','COD':'COD','ENG':'ENG','CRO':'CRO','GHA':'GHA',\n  'PAN':'PAN','UZB':'UZB','COL':'COL','KSA':'KSA','DZA':'ALG'\n};\n\nconst MATCHES = [\n  {id:1,home:'MEX',away:'RSA',dt:'2026-06-11T19:00:00Z'},\n  {id:2,home:'KOR',away:'CZE',dt:'2026-06-12T02:00:00Z'},\n  {id:3,home:'CAN',away:'BIH',dt:'2026-06-12T19:00:00Z'},\n  {id:4,home:'USA',away:'PAR',dt:'2026-06-13T01:00:00Z'},\n  {id:5,home:'QAT',away:'SUI',dt:'2026-06-13T19:00:00Z'},\n  {id:6,home:'BRA',away:'MAR',dt:'2026-06-13T22:00:00Z'},\n  {id:7,home:'HAI',away:'SCO',dt:'2026-06-14T01:00:00Z'},\n  {id:8,home:'AUS',away:'TUR',dt:'2026-06-14T04:00:00Z'},\n  {id:9,home:'GER',away:'CUW',dt:'2026-06-14T17:00:00Z'},\n  {id:10,home:'CIV',away:'ECU',dt:'2026-06-14T23:00:00Z'},\n  {id:11,home:'NED',away:'JPN',dt:'2026-06-15T20:00:00Z'},\n  {id:12,home:'SWE',away:'TUN',dt:'2026-06-15T02:00:00Z'},\n  {id:13,home:'ESP',away:'CPV',dt:'2026-06-15T17:00:00Z'},\n  {id:14,home:'BEL',away:'EGY',dt:'2026-06-15T22:00:00Z'},\n  {id:15,home:'KSA',away:'URU',dt:'2026-06-15T22:00:00Z'},\n  {id:16,home:'IRN',away:'NZL',dt:'2026-06-16T04:00:00Z'},\n  {id:17,home:'FRA',away:'SEN',dt:'2026-06-16T19:00:00Z'},\n  {id:18,home:'IRQ',away:'NOR',dt:'2026-06-16T22:00:00Z'},\n  {id:19,home:'ARG',away:'ALG',dt:'2026-06-17T01:00:00Z'},\n  {id:20,home:'AUT',away:'JOR',dt:'2026-06-17T04:00:00Z'},\n  {id:21,home:'POR',away:'COD',dt:'2026-06-17T17:00:00Z'},\n  {id:22,home:'ENG',away:'CRO',dt:'2026-06-17T20:00:00Z'},\n  {id:23,home:'GHA',away:'PAN',dt:'2026-06-17T23:00:00Z'},\n  {id:24,home:'UZB',away:'COL',dt:'2026-06-18T02:00:00Z'},\n  {id:25,home:'CZE',away:'RSA',dt:'2026-06-18T16:00:00Z'},\n  {id:26,home:'SUI',away:'BIH',dt:'2026-06-18T19:00:00Z'},\n  {id:27,home:'CAN',away:'QAT',dt:'2026-06-18T22:00:00Z'},\n  {id:28,home:'MEX',away:'KOR',dt:'2026-06-19T01:00:00Z'},\n  {id:29,home:'USA',away:'AUS',dt:'2026-06-19T19:00:00Z'},\n  {id:30,home:'SCO',away:'MAR',dt:'2026-06-19T22:00:00Z'},\n  {id:31,home:'BRA',away:'HAI',dt:'2026-06-20T01:00:00Z'},\n  {id:32,home:'TUR',away:'PAR',dt:'2026-06-20T04:00:00Z'},\n  {id:33,home:'NED',away:'SWE',dt:'2026-06-20T17:00:00Z'},\n  {id:34,home:'GER',away:'CIV',dt:'2026-06-20T20:00:00Z'},\n  {id:35,home:'ECU',away:'CUW',dt:'2026-06-21T00:00:00Z'},\n  {id:36,home:'TUN',away:'JPN',dt:'2026-06-21T04:00:00Z'},\n  {id:37,home:'ESP',away:'KSA',dt:'2026-06-21T16:00:00Z'},\n  {id:38,home:'BEL',away:'IRN',dt:'2026-06-21T19:00:00Z'},\n  {id:39,home:'URU',away:'CPV',dt:'2026-06-21T22:00:00Z'},\n  {id:40,home:'NZL',away:'EGY',dt:'2026-06-22T01:00:00Z'},\n  {id:41,home:'ARG',away:'AUT',dt:'2026-06-22T17:00:00Z'},\n  {id:42,home:'FRA',away:'IRQ',dt:'2026-06-22T21:00:00Z'},\n  {id:43,home:'NOR',away:'SEN',dt:'2026-06-23T00:00:00Z'},\n  {id:44,home:'JOR',away:'ALG',dt:'2026-06-23T03:00:00Z'},\n  {id:45,home:'POR',away:'UZB',dt:'2026-06-23T17:00:00Z'},\n  {id:46,home:'ENG',away:'GHA',dt:'2026-06-23T20:00:00Z'},\n  {id:47,home:'PAN',away:'CRO',dt:'2026-06-23T23:00:00Z'},\n  {id:48,home:'COL',away:'COD',dt:'2026-06-24T02:00:00Z'},\n  {id:49,home:'MEX',away:'CZE',dt:'2026-06-24T16:00:00Z'},\n  {id:50,home:'RSA',away:'KOR',dt:'2026-06-24T16:00:00Z'},\n  {id:51,home:'SUI',away:'CAN',dt:'2026-06-24T19:00:00Z'},\n  {id:52,home:'BIH',away:'QAT',dt:'2026-06-24T19:00:00Z'},\n  {id:53,home:'SCO',away:'BRA',dt:'2026-06-24T22:00:00Z'},\n  {id:54,home:'MAR',away:'HAI',dt:'2026-06-24T22:00:00Z'},\n  {id:55,home:'TUR',away:'USA',dt:'2026-06-25T20:00:00Z'},\n  {id:56,home:'PAR',away:'AUS',dt:'2026-06-25T20:00:00Z'},\n  {id:57,home:'ECU',away:'GER',dt:'2026-06-25T20:00:00Z'},\n  {id:58,home:'CUW',away:'CIV',dt:'2026-06-25T20:00:00Z'},\n  {id:59,home:'JPN',away:'SWE',dt:'2026-06-25T23:00:00Z'},\n  {id:60,home:'TUN',away:'NED',dt:'2026-06-25T23:00:00Z'},\n  {id:61,home:'NOR',away:'FRA',dt:'2026-06-26T19:00:00Z'},\n  {id:62,home:'SEN',away:'IRQ',dt:'2026-06-26T19:00:00Z'},\n  {id:63,home:'CPV',away:'KSA',dt:'2026-06-27T00:00:00Z'},\n  {id:64,home:'URU',away:'ESP',dt:'2026-06-27T00:00:00Z'},\n  {id:65,home:'EGY',away:'IRN',dt:'2026-06-27T03:00:00Z'},\n  {id:66,home:'NZL',away:'BEL',dt:'2026-06-27T03:00:00Z'},\n  {id:67,home:'PAN',away:'ENG',dt:'2026-06-27T21:00:00Z'},\n  {id:68,home:'CRO',away:'GHA',dt:'2026-06-27T21:00:00Z'},\n  {id:69,home:'COL',away:'POR',dt:'2026-06-27T23:30:00Z'},\n  {id:70,home:'COD',away:'UZB',dt:'2026-06-27T23:30:00Z'},\n  {id:71,home:'JOR',away:'ARG',dt:'2026-06-28T02:00:00Z'},\n  {id:72,home:'ALG',away:'AUT',dt:'2026-06-28T02:00:00Z'}\n];\n\nconst now = Date.now();\nconst apiMatches = $input.first().json.matches || [];\nconst toUpdate = [];\n\nfor (const apiM of apiMatches) {\n  if (apiM.status !== 'FINISHED') continue;\n  const score = apiM.score?.fullTime;\n  if (score?.home == null || score?.away == null) continue;\n\n  const apiHome = MAP[apiM.homeTeam?.tla] || apiM.homeTeam?.tla;\n  const apiAway = MAP[apiM.awayTeam?.tla] || apiM.awayTeam?.tla;\n\n  const local = MATCHES.find(m => m.home === apiHome && m.away === apiAway);\n  if (!local) continue;\n\n  toUpdate.push({ match_id: local.id, home_score: score.home, away_score: score.away });\n}\n\nconsole.log('Jogos para atualizar:', toUpdate.length);\nreturn toUpdate.length > 0 ? toUpdate.map(item => ({ json: item })) : [{ json: { match_id: 0 } }];"
      },
      "id": "76e7bab7-97b0-450d-a744-43b0ea83dcd0",
      "name": "Mapear e Filtrar Jogos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2368, 3680]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            },
            {
              "id": "cond-2",
              "leftValue": "={{ $json.match_id }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "295cbd3d-8867-48b5-ac36-4b2032828fb0",
      "name": "Tem jogos para atualizar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2592, 3680]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zmxwhjmgsyzcuovepqss.supabase.co/rest/v1/matches?id=eq.{{ $json.match_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMjk5NzMsImV4cCI6MjA5NjcwNTk3M30.429hD8d6_uksGL125V9XVvec7ySPtc3RqWxhEcWL4po" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMjk5NzMsImV4cCI6MjA5NjcwNTk3M30.429hD8d6_uksGL125V9XVvec7ySPtc3RqWxhEcWL4po" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ home_score: $json.home_score, away_score: $json.away_score, status: 'finished' }) }}",
        "options": {}
      },
      "id": "c45884d3-050b-4596-852e-b711e41d9e51",
      "name": "Atualizar Placar no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2800, 3600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://zmxwhjmgsyzcuovepqss.supabase.co/rest/v1/predictions?match_id=eq.{{ $('Mapear e Filtrar Jogos').item.json.match_id }}&select=id,user_id,home_score,away_score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMjk5NzMsImV4cCI6MjA5NjcwNTk3M30.429hD8d6_uksGL125V9XVvec7ySPtc3RqWxhEcWL4po" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHdoam1nc3l6Y3VvdmVwcXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMjk5NzMsImV4cCI6MjA5NjcwNTk3M30.429hD8d6_uksGL125V9XVvec7ySPtc3RqWxhEcWL4po" }
          ]
        },
        "options": {}
      },
      "id": "node-buscar-palpites",
      "name": "Buscar Palpites",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3024, 3600]
    },
    {
      "parameters": {
        "jsCode": "// Cada item de entrada = array de palpites de UM jogo\n// allMatches[i] = dados do jogo i (placar real)\nconst allItems = $input.all();\nconst allMatches = $('Mapear e Filtrar Jogos').all();\n\nfunction outcome(h, a) { return h > a ? 1 : h < a ? -1 : 0; }\n\nconst result = [];\n\nfor (let i = 0; i < allItems.length; i++) {\n  const rawPreds = allItems[i].json;\n  const preds = Array.isArray(rawPreds) ? rawPreds : [rawPreds];\n  if (!preds.length || preds[0].id == null) continue;\n\n  const matchData = allMatches[i] ? allMatches[i].json : null;\n  if (!matchData || matchData.home_score == null) continue;\n\n  const homeScore = matchData.home_score;\n  const awayScore = matchData.away_score;\n  const realOutcome = outcome(homeScore, awayScore);\n  const realDiff = homeScore - awayScore;\n\n  // Agrupar por tier: 1 PATCH por pontuação por jogo\n  const groups = {};\n  for (const p of preds) {\n    const po = outcome(p.home_score, p.away_score);\n    const pd = p.home_score - p.away_score;\n    let pts;\n    if (p.home_score === homeScore && p.away_score === awayScore) pts = 3;\n    else if (po === realOutcome && realOutcome !== 0 && pd === realDiff) pts = 2;\n    else if (po === realOutcome) pts = 1;\n    else pts = 0;\n    if (!groups[pts]) groups[pts] = [];\n    groups[pts].push(p.id);\n  }\n\n  for (const [pts, ids] of Object.entries(groups)) {\n    result.push({ json: { points: parseInt(pts), ids: ids.join(',') } });\n  }\n}\n\nreturn result;"
      },
      "id": "5baefc35-04f6-49da-ac60-fdcaea413f8c",
      "name": "Calcular Pontos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3248, 3600]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zmxwhjmgsyzcuovepqss.supabase.co/rest/v1/predictions?id=in.({{ $json.ids }})",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "COLE_AQUI_A_SERVICE_ROLE_KEY" },
            { "name": "Authorization", "value": "Bearer COLE_AQUI_A_SERVICE_ROLE_KEY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ points: $json.points }) }}",
        "options": {}
      },
      "id": "node-salvar-pontos",
      "name": "Salvar Pontos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3472, 3600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zmxwhjmgsyzcuovepqss.supabase.co/rest/v1/rpc/refresh_profile_totals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "COLE_AQUI_A_SERVICE_ROLE_KEY" },
            { "name": "Authorization", "value": "Bearer COLE_AQUI_A_SERVICE_ROLE_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "node-atualizar-totais",
      "name": "Atualizar Totais",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3696, 3600]
    }
  ],
  "connections": {
    "A cada 1 min": {
      "main": [[{ "node": "Buscar Resultados (football-data)", "type": "main", "index": 0 }]]
    },
    "Buscar Resultados (football-data)": {
      "main": [[{ "node": "Mapear e Filtrar Jogos", "type": "main", "index": 0 }]]
    },
    "Mapear e Filtrar Jogos": {
      "main": [[{ "node": "Tem jogos para atualizar?", "type": "main", "index": 0 }]]
    },
    "Tem jogos para atualizar?": {
      "main": [
        [{ "node": "Atualizar Placar no Supabase", "type": "main", "index": 0 }],
        []
      ]
    },
    "Atualizar Placar no Supabase": {
      "main": [[{ "node": "Buscar Palpites", "type": "main", "index": 0 }]]
    },
    "Buscar Palpites": {
      "main": [[{ "node": "Calcular Pontos", "type": "main", "index": 0 }]]
    },
    "Calcular Pontos": {
      "main": [[{ "node": "Salvar Pontos", "type": "main", "index": 0 }]]
    },
    "Salvar Pontos": {
      "main": [[{ "node": "Atualizar Totais", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d117ea45bc33fa797e2742ccb51a9a9f1db4eaa28394d14f826234ab966c2c84"
  }
}
